<?xml version="1.0" ?>
<robot name="Robogami" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<material name="Gray">
		<color rgba="0.1 0.1 0.1 0.7"/>
	</material>
	<material name="Red">
		<color rgba="1 0 0 1.0"/>
	</material>
	<material name="Green">
		<color rgba="0 1 0 1.0"/>
	</material>
	<material name="Blue">
		<color rgba="0 0 1 1.0"/>
	</material>

	<!-- Base hexagon link -->
	<link name="base">
		<inertial>
			<mass value="0.01" />
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://robogami_description/meshes/base.stl"/>
			</geometry>
			<material name="Gray"/>
		</visual>
	</link>


	<!-- Legs lower links -->
	<link name="leg1">
		<inertial>
			<mass value="0.01" />
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://robogami_description/meshes/leg.stl"/>
			</geometry>
			<material name="Gray"/>
		</visual>
	</link>

	<link name="leg2">
		<inertial>
			<mass value="0.01" />
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://robogami_description/meshes/leg.stl"/>
			</geometry>
			<material name="Gray"/>
		</visual>
	</link>

	<link name="leg3">
		<inertial>
			<mass value="0.01" />
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="package://robogami_description/meshes/leg.stl"/>
			</geometry>
			<material name="Gray"/>
		</visual>
	</link>


	<!-- Joints connecting leg lower links to the hexagon base link -->
	<joint name="l1" type="revolute">
		<parent link="base"/>
		<child link="leg1"/>
		<axis xyz="0 1 0"/>
		<limit effort="1" lower="0" upper="1.4" velocity="1"/>
		<origin rpy="0 0 0" xyz="-0.05629165124598851 0 0"/>
	</joint>

	<joint name="l2" type="revolute">
		<parent link="base"/>
		<child link="leg2"/>
		<axis xyz="0 1 0"/>
		<limit effort="1" lower="0" upper="1.4" velocity="1"/>
		<origin rpy="0 0 2.0943951023931953" xyz="0.028145825622994256 -0.04875 0"/>
	</joint>

	<joint name="l3" type="revolute">
		<parent link="base"/>
		<child link="leg3"/>
		<axis xyz="0 1 0"/>
		<limit effort="1" lower="0" upper="1.4" velocity="1"/>
		<origin rpy="0 0 -2.0943951023931953" xyz="0.028145825622994256 0.04875 0"/>
	</joint>


	<!-- Legs upper links -->
	<link name="leg1top">
		<inertial>
			<mass value="0.01" />
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0.059 0 0"/>
			<geometry>
				<mesh filename="package://robogami_description/meshes/leg.stl"/>
			</geometry>
			<material name="Gray"/>
		</visual>
	</link>

	<link name="leg2top">
		<inertial>
			<mass value="0.01" />
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0.059 0 0"/>
			<geometry>
				<mesh filename="package://robogami_description/meshes/leg.stl"/>
			</geometry>
			<material name="Gray"/>
		</visual>
	</link>

	<link name="leg3top">
		<inertial>
			<mass value="0.01" />
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0.059 0 0"/>
			<geometry>
				<mesh filename="package://robogami_description/meshes/leg.stl"/>
			</geometry>
			<material name="Gray"/>
		</visual>
	</link>


	<!-- Spherical joints connecting leg lower and upper links -->
	<link name="l1RotX"/>

	<link name="l1RotY"/>

	<joint name="x_l1rotx" type="revolute">
		<parent link="leg1"/>
		<child link="l1RotX"/>
		<axis xyz="1 0 0"/>
		<limit effort="1" lower="-1.56" upper="1.56" velocity="1"/>
		<origin rpy="0 3.141592653589793 0" xyz="-0.059 0 0"/>
	</joint>

	<joint name="x_l1roty" type="revolute">
		<parent link="l1RotX"/>
		<child link="l1RotY"/>
		<axis xyz="0 1 0"/>
		<limit effort="1" lower="0.1" upper="3.13" velocity="1"/>
		<origin rpy="0 0 0" xyz="0 0 0"/>
	</joint>

	<joint name="x_l1top" type="revolute">
		<parent link="l1RotY"/>
		<child link="leg1top"/>
		<axis xyz="1 0 0"/>
		<limit effort="1" lower="-1.56" upper="1.56" velocity="1"/>
		<origin rpy="0 0 0" xyz="0 0 0"/>
	</joint>

	<link name="l2RotX"/>

	<link name="l2RotY"/>

	<joint name="x_l2rotx" type="revolute">
		<parent link="leg2"/>
		<child link="l2RotX"/>
		<axis xyz="1 0 0"/>
		<limit effort="1" lower="-1.56" upper="1.56" velocity="1"/>
		<origin rpy="0 3.141592653589793 0" xyz="-0.059 0 0"/>
	</joint>

	<joint name="x_l2roty" type="revolute">
		<parent link="l2RotX"/>
		<child link="l2RotY"/>
		<axis xyz="0 1 0"/>
		<limit effort="1" lower="0.1" upper="3.13" velocity="1"/>
		<origin rpy="0 0 0" xyz="0 0 0"/>
	</joint>

	<joint name="x_l2top" type="revolute">
		<parent link="l2RotY"/>
		<child link="leg2top"/>
		<axis xyz="1 0 0"/>
		<limit effort="1" lower="-1.56" upper="1.56" velocity="1"/>
		<origin rpy="0 0 0" xyz="0 0 0"/>
	</joint>

	<link name="l3RotX"/>

	<link name="l3RotY"/>

	<joint name="x_l3rotx" type="revolute">
		<parent link="leg3"/>
		<child link="l3RotX"/>
		<axis xyz="1 0 0"/>
		<limit effort="1" lower="-1.56" upper="1.56" velocity="1"/>
		<origin rpy="0 3.141592653589793 0" xyz="-0.059 0 0"/>
	</joint>

	<joint name="x_l3roty" type="revolute">
		<parent link="l3RotX"/>
		<child link="l3RotY"/>
		<axis xyz="0 1 0"/>
		<limit effort="1" lower="0.1" upper="3.13" velocity="1"/>
		<origin rpy="0 0 0" xyz="0 0 0"/>
	</joint>

	<joint name="x_l3top" type="revolute">
		<parent link="l3RotY"/>
		<child link="leg3top"/>
		<axis xyz="1 0 0"/>
		<limit effort="1" lower="-1.56" upper="1.56" velocity="1"/>
		<origin rpy="0 0 0" xyz="0 0 0"/>
	</joint>


	<!-- Top hexagon link -->
	<link name="top">
		<inertial>
			<mass value="0.01" />
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="-0.05629165124598851 0 0"/>
			<geometry>
				<mesh filename="package://robogami_description/meshes/base.stl"/>
			</geometry>
			<material name="Gray"/>
		</visual>
	</link>


	<!-- Leg1 joint to top hexagon link -->
	<joint name="l1topBase" type="revolute">
		<parent link="leg1top"/>
		<child link="top"/>
		<axis xyz="0 1 0"/>
		<limit effort="1" lower="0" upper="1.56" velocity="1"/>
		<origin rpy="0 3.141592653589793 0" xyz="0.059 0 0"/>
	</joint>


	<!-- Two extra virtual links and associalted joints for defining closed chains -->
	<link name="leg2TopMove"/>

	<link name="leg3TopMove"/>

	<joint name="l2TopMove" type="revolute">
		<parent link="leg2top"/>
		<child link="leg2TopMove"/>
		<axis xyz="0 1 0"/>
		<limit effort="1" lower="0" upper="1.56" velocity="1"/>
		<origin rpy="0 0 0" xyz="0.059 0 0"/>
	</joint>

	<joint name="l3TopMove" type="revolute">
		<parent link="leg3top"/>
		<child link="leg3TopMove"/>
		<axis xyz="0 1 0"/>
		<limit effort="1" lower="0" upper="1.56" velocity="1"/>
		<origin rpy="0 0 0" xyz="0.059 0 0"/>
	</joint>


	<!-- Corner collision shapes -->
	<link name="leg1lowerLeftConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Red"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg1lowerLeftConner_joint" type="fixed">
		<parent link="leg1"/>
		<child link="leg1lowerLeftConner"/>
		<origin rpy="0 0 0" xyz="-0.038442059036156634 -0.0245 0"/>
	</joint>
	<link name="leg1lowerRightConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Red"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg1lowerRightConner_joint" type="fixed">
		<parent link="leg1"/>
		<child link="leg1lowerRightConner"/>
		<origin rpy="0 0 0" xyz="-0.038442059036156634 0.0245 0"/>
	</joint>
	<link name="leg1topLeftConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Red"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg1topLeftConner_joint" type="fixed">
		<parent link="leg1top"/>
		<child link="leg1topLeftConner"/>
		<origin rpy="0 0 0" xyz="0.02055794096384336 -0.0245 0"/>
	</joint>
	<link name="leg1topRightConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Red"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg1topRightConner_joint" type="fixed">
		<parent link="leg1top"/>
		<child link="leg1topRightConner"/>
		<origin rpy="0 0 0" xyz="0.02055794096384336 0.0245 0"/>
	</joint>
	<link name="leg2lowerLeftConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Green"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg2lowerLeftConner_joint" type="fixed">
		<parent link="leg2"/>
		<child link="leg2lowerLeftConner"/>
		<origin rpy="0 0 0" xyz="-0.038442059036156634 -0.0245 0"/>
	</joint>
	<link name="leg2lowerRightConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Green"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg2lowerRightConner_joint" type="fixed">
		<parent link="leg2"/>
		<child link="leg2lowerRightConner"/>
		<origin rpy="0 0 0" xyz="-0.038442059036156634 0.0245 0"/>
	</joint>
	<link name="leg2topLeftConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Green"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg2topLeftConner_joint" type="fixed">
		<parent link="leg2top"/>
		<child link="leg2topLeftConner"/>
		<origin rpy="0 0 0" xyz="0.02055794096384336 -0.0245 0"/>
	</joint>
	<link name="leg2topRightConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Green"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg2topRightConner_joint" type="fixed">
		<parent link="leg2top"/>
		<child link="leg2topRightConner"/>
		<origin rpy="0 0 0" xyz="0.02055794096384336 0.0245 0"/>
	</joint>
	<link name="leg3lowerLeftConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Blue"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg3lowerLeftConner_joint" type="fixed">
		<parent link="leg3"/>
		<child link="leg3lowerLeftConner"/>
		<origin rpy="0 0 0" xyz="-0.038442059036156634 -0.0245 0"/>
	</joint>
	<link name="leg3lowerRightConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Blue"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg3lowerRightConner_joint" type="fixed">
		<parent link="leg3"/>
		<child link="leg3lowerRightConner"/>
		<origin rpy="0 0 0" xyz="-0.038442059036156634 0.0245 0"/>
	</joint>
	<link name="leg3topLeftConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Blue"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg3topLeftConner_joint" type="fixed">
		<parent link="leg3top"/>
		<child link="leg3topLeftConner"/>
		<origin rpy="0 0 0" xyz="0.02055794096384336 -0.0245 0"/>
	</joint>
	<link name="leg3topRightConner">
		<visual>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>

			<material name="Blue"/>
		</visual>
		<collision>
			<geometry>
				<sphere radius="0.001"/>
			</geometry>
		</collision>
	</link>

	<joint name="leg3topRightConner_joint" type="fixed">
		<parent link="leg3top"/>
		<child link="leg3topRightConner"/>
		<origin rpy="0 0 0" xyz="0.02055794096384336 0.0245 0"/>
	</joint>

</robot>